<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<div class="navbar-brand mb-0 h1" href="#">The Citadel</div>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
			<a href="/login">
				<li class="btn btn-success">Login</li>
			</a>
			<ul></ul>
			<a href="/register">
				<li class="btn btn-primary">Register</li>
			</a>
		</div>
	</div>
</nav>
<br>
