<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<div class="navbar-brand mb-0 h1" href="#">Dashboard</div>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="/dashboard">Available Books</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/bookIssued">Book Issued</a>
				</li>
			</ul>
			<form action="/logout" method="POST" class="d-flex">
				<input type="submit" value="Logout" class="btn btn-danger" name="logout">
			</form>
		</div>
	</div>
</nav>
<br>
